div{
  float: left;
}
#rectangle{
  background-color: #00FF7F;
  height:50px;
  width: 80%;
}
#brectangle2{
  background-color: #1E90FF;
  height:50px;
  width:20%;
}
#rectangle3{
  background-color: #FF7F50;
  height:140px;
  width:30%;
}
#rectangle4{
  background-color: #FF8C00;
  height:70px;
  width:33%;
}
#rectangle5{
  background-color: #778899;
  height: 70px;
  width:37%;
}
#rectangle6{
  background-color: #FFA500;
  height:70px;
  width:20%;
}
#rectangle7{
  background-color: #3CB371;
  height:70px;
  width:25%;
}
#rectangle8{
  background-color: #FF4500;
  height:70px;
  width:25%;
}
#rectangle9{
  background-color: #483D8B;
  height:200px;
  width:100%;
}
